[Unit]
Description="HashiCorp Consul - A service mesh solution"
Documentation=https://www.consul.io/
Requires=network-online.target
After=network-online.target

[Service]
EnvironmentFile=-{{ folder_config }}/{{ app_name }}.d/{{ app_name }}.env
User={{ app_user }}
Group={{ app_user }}
ExecStart={{ folder_binary }}/{{ app_name }} agent -config-dir={{ folder_config }}/{{ app_name }}.d
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
KillSignal=SIGTERM
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
