[Unit]
Description="HashiCorp Consul - A service mesh solution"
Documentation=https://www.consul.io/
Requires=network-online.target
After=network-online.target

[Service]
EnvironmentFile=-{{ folder_config }}/{{ hashistack.name }}.d/{{ hashistack.name }}.env
User={{ hashistack_user }}
Group={{ hashistack_group }}
ExecStart={{ folder_binary }}/{{ hashistack.name }} agent -config-dir={{ folder_config }}/{{ hashistack.name }}.d
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
KillSignal=SIGTERM
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
