[Unit]
Description=Nomad
Documentation=https://www.nomadproject.io/docs/
Wants=network-online.target
After=network-online.target

[Service]
User={{ hashistack_user }}
Group={{ hashistack_group }}
ExecReload=/bin/kill -HUP $MAINPID
ExecStart={{ folder_binary }}/{{ hashistack.name }} agent -config {{ folder_config }}/{{ hashistack.name }}.d
KillMode=process
KillSignal=SIGINT
LimitNOFILE=65536
LimitNPROC=infinity
Restart=on-failure
RestartSec=2
TasksMax=infinity
OOMScoreAdjust=-1000

[Install]
WantedBy=multi-user.target
