[Unit]
Description="HashiCorp Vault - A tool for managing secrets"
Documentation=https://www.vaultproject.io/
Requires=network-online.target
After=network-online.target

[Service]
User={{ hashistack_user }}
Group={{ hashistack_group }}
ExecStart={{ folder_binary }}/{{ hashistack.name }} server -config={{ folder_config }}/{{ hashistack.name }}.d
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target