[Unit]
Description="HashiCorp Vault - A tool for managing secrets"
Documentation=https://www.vaultproject.io/
Requires=network-online.target
After=network-online.target

[Service]
User={{ app_user }}
Group={{ app_user }}
ExecStart={{ folder_binary }}/{{ app_name }} server -config={{ folder_config }}/{{ app_name }}.d
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target